.room-card-title {
  line-height: normal;
  width: 100%;
  cursor: pointer;
}


.tab_container {
  position: center;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 55px;
  background-color: transparent !important;
  z-index: 500;
}

