<app-admin-page title="Salas" inlinePageTitle="Salas">

  <article class="tab_container">
    <ng-container *ngIf="roomsDto === null">
      Loading tabs...
    </ng-container>

    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile *ngFor="let room of roomsDto">
        <mat-card class="room-card-title" (click)="openRoom(room.id)">
          <mat-card-title>
            {{  room.number  }}
          </mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </article>
</app-admin-page>
