.mat-tab-group {
  margin-bottom: 48px;
}

.item-tab-list {
    margin-bottom: 48px;
    width: 100%;
    height: 2px;
}

.tab-list{
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.tab_container {
  position: center;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 55px;
  background-color: transparent !important;
  z-index: 500;
}

.subgroup-item {
  margin-top: 20px;
  cursor: pointer;
  border-bottom-style: groove;
  line-height: 10px;
}

.number {
  width: 100%;
  height: 2px;
}
