<div *ngIf="subgroupDto">

  <app-admin-page pageTitle="Subgrupo">

    <div class="link1">
      <button mat-menu-item (click)="backLink()">
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
      </button>
    </div>

    <div class="link2">
      <button mat-menu-item (click)="addNewChild()">
        <mat-icon>add_circle</mat-icon>
        <span>Adicionar nova Criança</span>
      </button>
    </div>

  <article class="container">
   <table class="container__table__bigger">
     <ng-container matColumnDef="cycle">
       <th mat-header-cell>Ciclo</th>
       <td mat-cell>{{ subgroupDto.cycle | cycle | titlecase }}</td>
     </ng-container>

     <ng-container matColumnDef="period">
       <th mat-header-cell>Período</th>
       <td mat-cell>{{ subgroupDto.period | period | titlecase }}</td>
     </ng-container>

     <ng-container matColumnDef="capacity">
       <th mat-header-cell>Capacidade</th>
       <td mat-cell>{{ subgroupDto.capacity }}</td>
     </ng-container>

     <ng-container matColumnDef="teachers">
       <th mat-header-cell>Profs</th>
       <td mat-cell>{{ subgroupDto.teachers }}</td>
     </ng-container>

   </table>

    <br>

    <table mat-table class="container__table"
           [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Nascimento</th>
        <td mat-cell *matCellDef="let element">{{ element.birthDate }}</td>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef>RA</th>
        <td mat-cell *matCellDef="let element">{{ element.registrationNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef>Matrícula</th>
        <td mat-cell *matCellDef="let element">{{ element.registrationDate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openChild(row)"></tr>
    </table>

  </article>
  </app-admin-page>
</div>
