<app-admin-page>

  <div class="link1">
    <button mat-menu-item (click)="backLink()">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
  </div>

  <div class="link2">
    <button mat-menu-item (click)="updateChild(childId)">
      <mat-icon>edit_square</mat-icon>
      <span>Editar</span>
    </button>
  </div>

    <article *ngIf="childDto">
    <h3>Dados</h3>
    <p class="childDisplay"><b>Nome: </b> {{ childDto.name }}</p>
    <p class="childDisplay" ><b>Nascimento: </b> {{  childDto.birthDate | date:'dd/MM/yyyy hh:mm'}}</p>
    <p class="childDisplay"><b>R.A. </b> {{ childDto.registrationNumber }}</p>
    <p class="childDisplay"><b>Data de matrícula: </b> {{ childDto.registrationDate | date:'dd/MM/yyyy'}}</p>
    <p class="childDisplay"><b>Mapa de Movimento: </b> {{ childDto.movimentMap | movimentMap | titlecase}}</p>
    <p class="childDisplay"><b>Restrição Alimentar: </b> {{ childDto.foodRestriction }}</p>
    <p class="childDisplay"><b>Dispacho do Uniforme: </b> {{ childDto.uniformDispatch}}</p>
    <p class="childDisplay"><b>Uniforme Entregue: </b> {{ childDto.uniformDelivered  == true ? "Sim":"Não" }}</p>
    <p class="childDisplay"><b>Censo: </b> {{ childDto.census  == true ? "Sim":"Não" }}</p>
  </article>

</app-admin-page>
