
<h1>Observações</h1>

<div class="container__table">
  <button mat-menu-item (click)="newObservation(childId)">
    <mat-icon>add_circle</mat-icon>
    <span>Adicionar Observação</span>
  </button>
</div>

<table mat-table class="container__table" [dataSource]="observationsDto">
  <ng-container matColumnDef="observationType">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let element">{{ element.observationType | observationType | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Nascimento</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

