.container__table{
  width:100%;
  text-align: left;
}

.container__table td:hover{
  cursor:pointer
}

.container__table__bigger{
  width:100%;
  margin-top: 50px;
  text-align: left;
}

.container__table__bigger td{
  font-size: 20px;
}

.link1 {
  display: inline-block;
  text-align: left;
  width:50%;
}

.link2 {
  display: inline-block;
  float: right;
  width:50%;
}

.link2-right {
  text-align: right;
}

.container__table{
  width:100%;
  text-align: left;
}

.container__table td:hover{
  cursor:pointer
}

.delete-button {
  text-align: right;
}

.teacher-name {
  width: 100%;
  text-align: left;
}

.teachers-table {
  margin-bottom: 40px;
}


