.link1 {
  display: inline-block;
  text-align: left;
  width:50%;
}

.link2 {
  display: block;
  width:50%;
  float: right;
}

.link2-right{
  text-align: right;
}

.childDisplay {
  display: inline-block;
  //margin-right: 20px;
  width: 25%;
}


