<app-admin-page pageTitle="Editar Criança">

  <div class="link1">
    <button mat-menu-item (click)="backLink()">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
  </div>

  <div class="link2">
    <button mat-menu-item (click)="deleteChild()">
      <div class="link2-right">
        <span>Excluir</span>
        <mat-icon>delete</mat-icon>
      </div>
    </button>
  </div>

  <form id="child-update-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" name="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput formControlName="birthDate" name="birthDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>RA</mat-label>
      <input matInput formControlName="registrationNumber" name="registrationNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Data de matrícula</mat-label>
      <input matInput formControlName="registrationDate" name="registrationDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Mapa de movimento</mat-label>
      <mat-select formControlName="movimentMap" name="movimentMap" placeholder="Mapa de Movimento">
        <mat-option *ngFor="let month of movimentMapKeys" [value]="month">
          {{month | movimentMap | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Dispacho do Uniforme</mat-label>
      <input matInput name="uniformDispatch" formControlName="uniformDispatch">
    </mat-form-field>

    <div class="half-width">
      <fieldset>
        <mat-label >Uniforme Entregue</mat-label>
        <mat-slide-toggle formControlName="uniformDelivered"></mat-slide-toggle>
      </fieldset>
    </div>

    <div class="half-width">
      <fieldset>
        <mat-label>Censo</mat-label>
        <mat-slide-toggle  formControlName="census"></mat-slide-toggle>
      </fieldset>
    </div>

    <mat-card-actions>
      <button class="button button-red" type="reset" mat-button form="child-update-form" color="secondary" (click)="backLink()">Cancelar</button>
      <button class="button button-white" type="submit" mat-raised-button form="child-update-form" color="primary">Salvar</button>
    </mat-card-actions>
  </form>
</app-admin-page>
