.child-update-form {
  margin-top: 20px;
}

.link {
  margin-bottom: 30px;
}

.full-width {
  width: 100%;
}

.half-width {
  display: inline-block;
  width: 50%;
}

.third-width {
  display: inline-block;
  width: 33%;
}

.link1 {
  display: inline-block;
  text-align: left;
  width:50%;
}

.link2 {
  display: block;
  width:50%;
  float: right;
}

.link2-right{
  text-align: right;
}
